<div *ngIf="user">
<div class="row">
  <div class="col-md-4"></div>

  <div class="col-md-4">
    <ul class="list-group">

      <li class="list-group-item list-group-item-primary text-left">
        <div class="float-right">
          <p>
            <span class="float-right"><h3>Профіль</h3></span>
          </p>
          <p>
            <button class="btn btn-sm float-right" *ngIf="!editMode" (click)="editModeOn()">Редагувати</button>
            <button class="btn btn-sm float-right" *ngIf="editMode" (click)="saveChanges()">Зберегти</button>
          </p>
          <p>
            <!--<input class="float-right" *ngIf="editMode">-->
          </p>
        </div>
        <div class="profile_avatar-block">
          <img *ngIf="!previewAvatarUrl" class="img-fluid profile_avatar float-left" src="{{user.avatar}}" alt="avatar">
          <img *ngIf="previewAvatarUrl" class="img-fluid profile_avatar float-left" src="{{previewAvatarUrl}}" alt="avatar">

            <form [formGroup]="changeAvatarForm" (submit)="onSubmitchangeAvatarForm()">
              <div *ngIf="processingChangeAvatar" class="profile_avatar-div-processing text-muted">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              </div>

              <div *ngIf="!editAvatar && !processingChangeAvatar" class="profile_avatar-div-change"></div>
              <div *ngIf="!editAvatar && !processingChangeAvatar" class="profile_avatar-button-change">
                <input type="file" accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png" (change)="changeAvatar($event)" id="input-file">
                <label for="input-file">Змінити
                  </label>
              </div>

              <div *ngIf="editAvatar">
                <!--<img src="{{previewAvatarUrl}}" alt="avatar">-->
                <!--<p>{{changeAvatarForm.get('file').value.name}}</p>-->
                <div class="profile_avatar-div-ok" >
                </div>
                <div class="profile_avatar-div-cancel">
                </div>
                <button class="profile_avatar-button-ok" [disabled]="!changeAvatarForm.valid">
                  <!--<button class="btn button-round-3" [disabled]="!changeAvatarForm.valid">-->
                    <i class="material-icons button-round-icon-3">done</i>
                  <!--</button>-->
                </button>
                <button class="profile_avatar-button-cancel" (click)="cancelChangeAvatar()">
                  <!--<button  class="btn button-round-3" (click)="cancelChangeAvatar()">-->
                  <i class="material-icons button-round-icon-3">cancel</i>
                <!--</button>-->
                </button>




              </div>
            </form>



        </div>
      </li>
      <li class="list-group-item text-right"><span class="float-left"><strong>Ім'я</strong></span>
        <span *ngIf="!editMode">{{user.name}}</span>
        <input *ngIf="editMode">
      </li>
      <li class="list-group-item text-right"><span class="float-left"><strong>Прізвище</strong></span>
        {{user.surname}}
      </li>
      <li class="list-group-item text-right"><span class="float-left"><strong>Ім'я користувача</strong></span>
        {{user.username}}
      </li>
      <li class="list-group-item text-right" [ngClass]="{'list-group-item-warning': !user.isEmailConfirmed}">
        <span class="float-left"><strong>email</strong></span> {{user.email}}
      </li>
      <li *ngIf="!user.isEmailConfirmed" class="list-group-item text-right"
          [ngClass]="{'list-group-item-warning': !user.isEmailConfirmed}">
        <span class="float-left"><strong>Пошта не верифікована</strong></span>
        <button type="button" class="btn btn-primary btn-sm" (click)="onVerificationSend()">
          Надіслати код
        </button>
      </li>

    </ul>
  </div>
  <div class="col-md-4"></div>
</div>


</div>
