@import '~styles/styles';


// profile fields
form {
  position: relative;
  //&:hover {
  //  //padding-right: 2.5rem;
  //  .profile_field_edit_button {
  //    display: block;
  //  }
  //}
}

.edit-form-input {
  text-align: right;
  border-bottom: 1px solid $c_material-border;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.edit-form-span {
  display: block;
  padding: 1px 0;
  border-bottom: 1px solid transparent;
}

.ng-invalid:not(form, .form-group, .no-validate-style) {
  border-right: 3px solid #dc3545;
  border-left: 0;
}

.profile_field_cancel_button {
  display: block;
  background: red;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -1.5rem;
  top: 1.5rem;
}

.profile_field_submit_button {
  display: block;
  background: #55a934;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -1.5rem;
  top: 0;
}

// avatar
.profile_avatar-block {
  margin: auto;
  position: relative;
  &:hover {
    .profile_avatar-div-change,
    .profile_avatar-button-change {
      display: block;
    }
  }
}

.profile_avatar {
  @include radius(90px);
  object-fit: cover;
  width: 180px;
  height: 180px;
}

.profile_avatar-div-processing {
  height: 180px;
  width: 180px;
  opacity: .5;
  background: $main_color;
  position: absolute;
  top: 0;
  @include radius(90px 90px 90px 90px);
  i {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 70px;
  }
}

.profile_avatar-div-change {
   display: none;
   height: 90px;
   width: 180px;
   opacity: .5;
   background: $main_color;
   position: absolute;
   top: 0;
   @include radius(90px 90px 0 0);
 }

.profile_avatar-button-change {
  display: none;
  color: black;
  position: absolute;
  left: 0;
  width: 180px;
  height: 90px;
  label {
    color: white;
    position: absolute;
    bottom: .5rem;
    width: 100%;
    text-align: center;
    &:hover {
      text-decoration: underline;
    }
  }
}

.profile_avatar-div-ok {
  height: 90px;
  width: 90px;
  opacity: .3;
  background: green;
  position: absolute;
  left: 0;
  top: 0;
  @include radius(90px 0 0 0);
}
.profile_avatar-div-cancel {
  height: 90px;
  width: 90px;
  opacity: .3;
  background: red;
  position: absolute;
  top: 0;
  left: 90px;
  @include radius(0 90px 0 0);
}

.profile_avatar-button-ok {
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  @include radius(90px 0 0 0);
  i {
    color: white;
    position: absolute;
    bottom: 10px;
    right: 15px;
    background-color: transparent;
  }
}

.profile_avatar-button-cancel {
  position: absolute;
  left: 90px;
  top: 0;
  width: 90px;
  height: 90px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
  @include radius(0 90px 0 0);
  i {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 15px;
    background-color: transparent;
  }
}

#input-file {
  display: none;
}
