@import '~styles/styles';

.avatar-big-block {
  position: relative;
  &:hover {
    .change-avatar {
      display: block;
    }
  }
}

.avatar-big {
  object-fit: cover;
  width: 180px;
  height: 180px;
}

.change-avatar {
  position: absolute;
  top: 0;
  display: none;
}

#input-file {
  display: none;
}
