<h2 class="page-header">Add product</h2>
  <form (ngSubmit)="onAddProductSubmit(addProductForm); addProductForm.reset()" #addProductForm="ngForm">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4" for="category0">Категорія</label>
            <select class="form-control form-control-sm custom-select col-md-8"  id="category0"
                    required (change)="onSelectCategory0($event)"
                    [(ngModel)]="category0" name="category0">
              <option *ngFor="let catalogItem of catalog; let i = index" [value]="catalogItem.category0.name">
                {{catalogItem.category0.name}}</option>
            </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
         <label class="col-md-4" for="category1">Підкатегорія</label>
          <select class="form-control form-control-sm custom-select col-md-8"  id="category1"
                  [required]="isCategory1" [disabled]="!category0 || !isCategory1"
                  [(ngModel)]="category1" name="category1">
            <option *ngFor="let catalogItem of catalogCategory1" [value]="catalogItem.name">
              {{catalogItem.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row form-group">
          <label class="col-md-4" for="name">Заголовок</label>
          <input type="text" ngModel name="name" class="form-control form-control-sm col-md-8" id="name" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row form-group">
          <label class="col-md-4" for="mainImgSrc">Image source</label>
          <input type="text" ngModel name="mainImgSrc" class="form-control form-control-sm col-md-8" id="mainImgSrc">
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-2" for="itemDescription">Опис</label>
      <textarea type="text" ngModel name="itemDescription" class="form-control form-control-sm col-md-10"
                id="itemDescription" required="" rows="2"></textarea>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="row form-group">
          <label class="col-md-4" for="itemNumber">Артикул</label>
          <div class="input-group input-group-sm col-md-8">
            <input type="text" ngModel name="itemNumber" class="form-control form-control-sm"
                   id="itemNumber" required>
            <span class="input-group-addon">x0000</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row form-group">
          <label class="col-md-4" for="price">Ціна</label>
          <div class="input-group input-group-sm col-md-8">
            <input type="text" ngModel name="price" class="form-control form-control-sm" id="price">
            <span class="input-group-addon">0,00 грн</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row form-group">
          <label class="col-md-4" for="discount">Знижка</label>
          <div class="input-group input-group-sm col-md-8">
            <input type="text" ngModel name="discount" class="form-control form-control-sm" id="discount">
            <span class="input-group-addon">%</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4">

        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" ngModel name="showOnMainPage"
                     id="showOnMainPage">   На головній</label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row form-group">
          <label class="col-md-4" for="width">Ширина</label>
          <div class="input-group input-group-sm col-md-8">
            <input type="text" ngModel name="width" class="form-control form-control-sm" id="width">
            <span class="input-group-addon">см</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row form-group">
          <label class="col-md-4" for="height">Висота</label>
          <div class="input-group input-group-sm col-md-8">
            <input type="text" ngModel name="height" class="form-control form-control-sm" id="height">
            <span class="input-group-addon">см</span>
          </div>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-primary" [disabled]="!addProductForm.form.valid" value="Add">
  </form>
