.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/*form.ng-invalid {*/
  /*border-top: 5px solid #a94442; !* red *!*/
/*}*/

/*.left-span {*/
  /*width: 120px;*/
/*}*/

/*.right-span {*/
  /*width: 70px;*/
/*}*/

.input-group-sm {
  padding: 0;
}

#itemNumber {
  letter-spacing: 0.5rem
}
