<!--<div class="card">-->
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <!--<div class="card-body">-->
    <!--<p class="card-text text-justify lead text-muted">Мене звати Ірина, я мама чудової донечки, саме Вона надихає мене-->
      <!--нові цікаві витвори. Канікули у школі - творимо маленький театр ляльок. Вільна хвилинка - в'яжемо теплі-->
      <!--шарфики для іграшок, шиємо та розмальовуємо кавові іграшки. Свято у школі - новий віночок..</p>-->
    <!--<p class="text-justify lead text-muted">Ще багато можна писати про себе та мої захоплення, але згодом</p>-->
    <!--<p class="text-justify lead text-muted">Завітайте у мою майстерню</p>-->

    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
  <!--</div>-->
<!--</div>-->


<div class="jumbotron">
  <div class="avatar-big-block">
    <img class="img-fluid avatar-big" src="../../../../assets/samples/my-photo180x180.png" alt="my photo">
  </div>
  <p class="text-justify lead text-muted">Мене звати Ірина, я мама чудової донечки, саме Вона надихає мене на
  нові цікаві витвори. Канікули у школі - творимо маленький театр ляльок. Вільна хвилинка - в'яжемо теплі
  шарфики для іграшок, шиємо та розмальовуємо кавові іграшки. Свято у школі - новий віночок..</p>
  <p class="text-justify lead text-muted">Ще багато можна писати про себе та мої захоплення, але згодом..</p>
  <p class="text-justify lead text-muted">Завітайте у мою майстерню.</p>
  <!--<h3 class="c_jumbotron-heading">Завітайте у мою майстерню</h3>-->

</div>

