<h2 class="page-header">Додати блог</h2>

<form [formGroup]="blogForm" (ngSubmit)="onBlogSubmit()">

  <div class="form-row align-items-center">
    <!--title-->
    <div class="form-group col-md-8 row">
      <label for="title" class="col-sm-2 col-form-label">Заголовок</label>
      <div class="col-sm-10">
        <input formControlName="title" required
               class="form-control" id="title" placeholder="Заголовок">
        <div class="invalid-alert"
             *ngIf="(blogForm.controls['title'].errors?.minlength ||
             blogForm.controls['title'].errors?.maxlength ||
             blogForm.controls['title'].errors?.required) &&
             blogForm.controls['title'].touched">Довжина від 4 до 50 символів
        </div>
        <div class="invalid-alert"
             *ngIf="blogForm.controls['title'].errors?.pattern &&
             blogForm.controls['title'].touched">Використовуйте тільки цифри і букви
        </div>
      </div>
    </div>

    <!--on main page-->
    <div class="form-group col-md-4">
        <div class="form-check">
          <label class="form-check-label"><input class="form-check-input" type="checkbox" formControlName="showOnMainPage"
                   [formGroup]="blogForm" id="showOnMainPage">
            Показати пост на головній </label>

        </div>
    </div>
  </div>
  <!--title end-->

  <!--body-->
  <div class="form-group" [formGroup]="blogForm.get('body')">
    <div class="form-row">

      <!--body mainImage-->
      <div class="form-group col-md-4">
        <label for="body.mainImage">Головне зображення</label>
        <input formControlName="mainImage" required
               class="form-control" id="body.mainImage" placeholder="Головне зображення">
        <div class="invalid-alert"
             *ngIf="blogForm.get('body').get('mainImage').errors?.required &&
             blogForm.get('body').get('mainImage').touched">Введіть шлях до зображення
        </div>
      </div>

      <!--body mainText-->
      <div class="form-group col-md-8">
        <label for="body.mainText">Вступ</label>
        <textarea formControlName="mainText" rows="1"
                  required autocomplete="false"
                  class="form-control" id="body.mainText" placeholder="Вступ"></textarea>
        <div class="invalid-alert"
             *ngIf="(blogForm.get('body').get('mainText').errors?.minlength ||
             blogForm.get('body').get('mainText').errors?.maxlength ||
             blogForm.get('body').get('mainText').errors?.required) &&
             blogForm.get('body').get('mainText').touched">Довжина від 4 до 90 символів
        </div>
      </div>
    </div>

    <!--body components-->
    <div class="form-group form-row" formArrayName="components">
      <div class="col-md-6 form-jumbotron"
           *ngFor="let component of blogForm.get('body').get('components').controls; let i=index">
        <div class="form-group" [formGroupName]="i">
          <div class="form-row">
            <div class="col">

              <!--body components close btn-->
              <div class="form-group btn-remove">
                <p (click)="removeComponent(i)"><i class="material-icons">clear</i> видалити матеріал</p>
                <i class="material-icons" (click)="removeComponent(i)">clear</i>
              </div>
              <div class="form-row">

                <!--body components material-->
                <div class="form-group col-md-4">
                  <label for="body.components.material">Матеріал</label>
                  <input formControlName="material" autocomplete="false"
                         class="form-control" id="body.components.material" placeholder="Матеріал">
                </div>
                <!--body components quantity-->
                <div class="form-group col-md-4">
                  <label for="body.components.quantity">Кількість</label>
                  <input formControlName="quantity" autocomplete="false"
                         class="form-control" id="body.components.quantity" placeholder="Кількість">
                </div>
                <!--body components quantity-->
                <div class="form-group col-md-3">
                  <label for="body.components.unit">Одиниця</label>
                  <input formControlName="unit" autocomplete="false"
                         class="form-control" id="body.components.unit" placeholder="Одиниця">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--body components add btn-->
    <div class="form-row btn-add">
      <div class="col">
        <p (click)="addComponent()"><i class="material-icons">add</i> додати матеріал</p>
      </div>
    </div>
    <!--body components end-->

    <!--body blocks-->
    <div class="form-group" formArrayName="blocks">
      <div class="form-jumbotron"
           *ngFor="let block of blogForm.get('body.blocks').controls; let i = index">
        <div class="form-group" [formGroupName]="i">
          <div class="form-row">
            <div class="col">

              <!--body blocks close btn-->
              <div class="form-group btn-remove">
                <p (click)="removeBlock(i)"><i class="material-icons">clear</i> видалити блок </p>
                <i class="material-icons" (click)="removeBlock(i)">clear</i>
              </div>
              <div class="form-row">

                <!--body blocks image-->
                <div class="form-group col-md-4">
                  <label for="body.blocks.image">Зображення</label>
                  <input formControlName="image"
                         class="form-control" id="body.blocks.image" placeholder="Зображення">
                </div>

                <!--body blocks text-->
                <div class="form-group col-md-8">
                  <label for="body.blocks.text">Текст</label>
                  <textarea formControlName="text" rows="2"
                            required autocomplete="false"
                            class="form-control" id="body.blocks.text" placeholder="Текст"></textarea>
                  <div class="invalid-alert"
                       *ngIf="(blogForm.get('body.blocks').controls[i].get('text').errors?.minlength ||
                         blogForm.get('body.blocks').controls[i].get('text').errors?.maxlength ||
                         blogForm.get('body.blocks').controls[i].get('text').errors?.required) &&
                         blogForm.get('body.blocks').controls[i].get('text').touched">Довжина від 4 до 500 символів
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--body blocks add btn-->
    <div class="form-row btn-add">
      <div class="col">
        <p (click)="addBlock()"><i class="material-icons">add</i> додати блок</p>
      </div>
    </div>

  <!--body components end-->
  </div>
  <!--body end-->

  <button type="submit" class="btn btn-primary btn-sm" [disabled]="!blogForm.valid">Запостити</button>
  <button type="button" class="btn btn-danger btn-sm" (click)="goBack()">Повернутись</button>

</form>
