@import './variables';
@import './mixins';
@import './custom-bootstrap';

.ng-valid {
  &[required], &.required {
    border-left: 5px solid #42A948;
  }
}

.ng-invalid:not(form) {
  border-left: 5px solid #dc3545;
}

a,
button {
  text-transform: capitalize;
}

// vertical aligment - mateial icon and text
a.nav-link > i {
  display: inline-block;
  vertical-align: middle;
}

// vertical aligment - mateial icon and text
button > i {
  display: inline-block;
  vertical-align: middle;
}

// apply box shadow for all buttons
.btn {
 @include boxShadow(3)
}

.button-round {
  padding: 0;
  border-radius: 50%;
}

.button-round-icon {
  box-sizing: border-box;
}

.button-round-3 {
  @extend .button-round;
  width: 3rem;
  height: 3rem;
}

.button-round-icon-3 {
  @extend .button-round-icon;
  //line-height: 1.2;
  font-size: 2rem;
}

.button-round-2 {
  @extend .button-round;
  width: 2rem;
  height: 2rem;
}

.button-round-icon-2 {
  @extend .button-round-icon;
  //line-height: 2rem;
  font-size: 1.2rem;
}



.c_jumbotron-heading {
  color: $main_color;
}

//.progress {
//  margin: auto;
//}

//.page-header {
//   padding-bottom: 1rem;
// }






