@import './variables';
@import './mixins';
@import './custom-bootstrap';

html {
  position: relative;
  min-height: 100%;
}

a,
button {
  text-transform: capitalize;
}

body {
  //font-family: $Roboto-font-family;
  margin-bottom: 4rem;
}

// Validation
.invalid-alert {
  font-size: .75rem;
  color: $danger;
}

.ng-valid:not(.no-validate-style) {
  &[required], &.required {
    border-bottom: 1px solid #42A948;
  }
}

.ng-invalid:not(form, .form-group, .no-validate-style) {
  border-bottom: 1px solid #dc3545;
  border-left: 3px solid #dc3545;
}

//.home-side {
//  position: fixed;
//  right: 0;
//}

// vertical aligment - mateial icon and text
a.nav-link > i,
p > i,
button > i{
  display: inline-block;
  vertical-align: middle;
}

// apply box shadow for all buttons
.btn {
   @include boxShadow(1)
}

//.btn:hover {
//  @include boxShadow(1)
//}

//custom buttons
.button-custom {
  padding: 0;
  @include radius(10%);
}

.button-custom-2 {
  @extend .button-custom;
  width: 2rem;
  height: 2rem;
}

.button-custom-icon-2 {
  @extend .button-round-icon;
  line-height: 2rem;
  font-size: 1.5rem;
}

//custom round buttons
.button-round {
  padding: 0;
  @include radius(50%);
  //border-radius: 50%;
}

.button-round-2 {
  @extend .button-round;
  width: 2rem;
  height: 2rem;
}

.button-round-icon-2 {
  @extend .button-round-icon;
  line-height: 2rem;
  font-size: 1.8rem;
}

.button-round-icon {
  box-sizing: border-box;
}

.button-round-3 {
  @extend .button-round;
  width: 3rem;
  height: 3rem;
}

.button-round-icon-3 {
  @extend .button-round-icon;
  line-height: 3rem;
  font-size: 2rem;
}

.button-round-2 {
  @extend .button-round;
  width: 2rem;
  height: 2rem;
}

.button-round-icon-2 {
  @extend .button-round-icon;
  line-height: 2rem;
  font-size: 1.2rem;
}

.c_jumbotron-heading {
  color: $main_color;
}

// custom background
body,
.container-fluid,
.row,
.container,
.jumbotron,
.jumbotron-fluid{
  background-color: $background-color-back;
}

.background-color-front{
  background-color: $background-color-front;
}

// custom dropdown
.c_dropdown {
  position: relative;
  display: inline-block;
}

.c_dropdown-content {
  display: none;
  position: absolute;
  background-color: $background-color-back;
  min-width: 50px;
  @include boxShadow(2);
  @include radius(.1rem);
  padding: .2rem 1rem;
  z-index: 1;
}

.c_dropdown:hover .c_dropdown-content {
  display: block;
}

//avatar
.avatar-big-block {
  max-width: 180px;
}

.avatar-big {
  @include radius(90px);
}

.avatar-3-block {
  max-width: 3rem;
  margin: auto;
}

.avatar-3 {
  @include radius(1.5rem);
}

.avatar-2-block {
  max-width: 2rem;
  margin: auto;
}

.avatar-2 {
  @include radius(1rem);
}

//.c_my-photo {
//  @include radius(90px);
//}

//blog

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 1rem;
  border-bottom: .05rem solid #eee;
}

.blog-title {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
}

.blog-description {
  text-align: center;
  font-size: 1.1rem;
  color: #999;
}

.blog-post {
  //padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $background-color-back;
  button {
    background-color: transparent;
  }
}

.blog-post-nav {
  padding: .5rem 2rem;
  background-color: $background-color-front;
}

.blog-post-nav-icons {
  font-size: .7rem;
  //p {
  //  margin-bottom: 0;
  //}
}

.blog-post-header {
  background-color: $background-color-front;
  padding-bottom: 2rem;
}

.blog-post-description {
  @extend .blog-description;
  text-align: justify;
}

.blog-post-body {
  padding-bottom: 1rem;
}

.blog-post-header-top {
  @extend .blog-header;
  border-bottom: 0;
  //padding-top: 2rem;
}

.blog-post-header-title {
  @extend .blog-title;
  font-size: 1.5rem;
  //text-align: left;

}

.blog-post-comments-title {
  @extend .blog-title;
  font-size: 1.5rem;
  text-align: left;
}

.blog-post-comments-avatar {
  padding-bottom: 1rem;
}

.blog-post-body-text {
  @extend .blog-header;
  border-bottom: 0;
  padding-top: 2rem;
  text-align: justify;

}

.blog-post-header-bottom {
  margin-bottom: 1rem;
  font-size: 1rem;

}

.img-container-outer {
  height: 21rem;
  //max-height: 100%;
  overflow: hidden;
  display: block;
}

.img-container-inner {
  display: inline-block;
  position: relative;
  right: -50%;
}

.img {
  position: relative;
  left: -50%;
}

@include media-breakpoint-up(md) {
  .blog-title {
    font-size: 2.5rem;
  }
  .blog-post-header-title,
  .blog-post-comments-title {
    font-size: 1.75rem;
  }
  .blog-post-header-top {
    border-bottom: .05rem solid #eee;
  }
  //.blog-post-header-bottom > div > p {
  //  font-size: .1rem;
  //}

}

@include media-breakpoint-up(lg) {
  .blog-title {
    font-size: 3.5rem;
  }
  .blog-post-header-title,
  .blog-post-comments-title {
    font-size: 2rem;
  }
}


//comments
.comment {
  padding: 1rem;
}

.comment-form {
  padding: 1rem;
}

.comment-meta {
  strong {
    &:after{
      content: ' \00b7 ';
    }
  }
}

.processing-block {
  i {
    display: block;
    margin: auto;
  }
}

//.comment-content {
//  border-bottom: 1px solid $background-color-back;
//}
