@import './variables';
@import './mixins';

//@import
//'~bootstrap/scss/functions',
//'~bootstrap/scss/variables',
//'~bootstrap/scss/mixins',
//'~bootstrap/scss/print',
//'~bootstrap/scss/reboot',
//'~bootstrap/scss/type';

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.ng-valid {
  &[required], &.required {
    border-left: 5px solid #42A948;
  }
}

.ng-invalid:not(form) {
  border-left: 5px solid #dc3545;
}

a, button {
  text-transform: capitalize;
}

.dropdown-item {
  &.active, &:active {
    background-color: #15889d;
  }
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
  background-color: #15889d;
}

.button-size-3 {
  width: 3rem;
  height: 3rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button-icon-size-3 {
  line-height: 3rem;
  /*font-size: 1.5rem;*/
}

.button-size-2 {
  width: 2rem;
  height: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button-icon-size-2 {
  line-height: 2rem;
  font-size: 1.2rem;
}

.button-light, .button-action {
  padding: 0;
  border-radius: 100%;
}

.button-light-icon, .button-action-icon {
  box-sizing: border-box;
}

.button-light {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  &:hover {
    color: #fff;
    background-color: #15889d;
    border-color: #17a2b8;
  }
}

.button-action {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  &:hover {
    color: #000;
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

.page-header {
  padding-bottom: 1rem;
}

.progress {
  /*display: block;*/
  height: .2rem;
  margin: auto;
  /*width: 50%;*/
}
