<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Підтвердіть</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        data: {{dataForPopup}} task: {{taskForPopup}}
      </div>

      <div class="modal-body">
        <div *ngIf="taskForPopup === 'delete-blog'">
          <p ><strong>Видалити майстерклас?</strong></p>
          <p class="text-muted">
            {{dataForPopup}}
          </p>
        </div>

        <div *ngIf="taskForPopup === 'delete-comment'">
          <p ><strong>Видалити коментар?</strong></p>
          <p class="text-muted">
            {{dataForPopup}}
          </p>
        </div>

      </div>
      <div class="modal-footer">
        <div *ngIf="taskForPopup === 'delete-blog' || taskForPopup === 'delete-comment'">
          <button class="btn" (click)="onConfirm()">Видалити</button>
          <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->

          <button class="btn" data-dismiss="modal">Відмінити</button>
        </div>

        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
