<div class="card">
  <div class="album">

    <div class="img-container clear-fix">

      <a *ngIf="parentComponentLink" class="btn btn-primary button-category button-round-3" [routerLink]="parentComponentLink">
        <i class="material-icons button-round-icon-3">arrow_forward</i></a>

      <img class="card-img-top" src="{{product.mainImgSrc[0]}}" alt="Зображення"
           (click)="onImageClick(product)">
    </div>

    <div class="card-body">
      <h4 class="card-title">{{product.name}}</h4>
      <p *ngIf="product.itemDescription" class="card-text item-text text-muted">{{product.itemDescription}}</p>

      <div class="row">
        <div class="col-4">
          <a *ngIf="!parentComponentLink" class="btn btn-primary button-round-3">
            <!--<i class="material-icons">add</i>-->
            <i class="material-icons button-round-icon-3">shopping_cart</i>
          </a>
        </div>
        <div class="col-8">
          <p *ngIf="product.itemNumber" class="card-text item-info-title text-muted">Артикул
            <span class="item-info-value">{{product.itemNumber}}</span>
          </p>
          <p *ngIf="product.size" class="card-text item-info-title text-muted">
            Висота
            <span class="item-info-value">{{product.size.height}}</span>
            см
          </p>
          <p *ngIf="product.size" class="card-text item-info-title text-muted">
            Ширина
            <span class="item-info-value">{{product.size.width}}</span>
            см
          </p>
        </div>
      </div>


    </div>
  </div>
</div>
