<div class="card">
  <div class="album">
    <img class="card-img-top" src="{{product.mainImgSrc[0]}}" alt="Зображення">
    <div class="card-body">
      <h4 class="card-title">{{product.name}}</h4>
      <p *ngIf="product.itemDescription" class="card-text item-text text-muted">{{product.itemDescription}}</p>
      <a *ngIf="parentComponentLink" class="btn btn-info" [routerLink]="parentComponentLink">Перейти</a>
      <p *ngIf="product.itemNumber" class="card-text item-info-title text-muted">Артикул
        <span class="item-info-value">{{product.itemNumber}}</span>
      </p>
      <p *ngIf="product.size" class="card-text item-info-title text-muted">
        Висота x Ширина
        <span class="item-info-value">{{product.size.height}}</span>
        х
        <span class="item-info-value">{{product.size.width}}</span>
        см
      </p>
    </div>
  </div>
</div>
