.card-text {
  font-size: .85rem;
}

.card-title {
  text-transform: capitalize;
}

.card {
  margin-bottom: 2rem;
  border: 0;
  /*padding-left: .7rem;*/
  /*padding-right: .7rem;*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-title {
  min-height: 4rem;
  /*padding-bottom: 0.5rem;*/
  text-align: center;
}

@media (max-width: 576px) {
  .card-title {
    margin-bottom: 0;
  }
  .item-text {
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .card-title {
    padding-bottom: 0.5rem;
  }
  .item-text {
    min-height: 6rem;
    padding-bottom: 0.5rem;
  }
  .album {
    min-height: 28rem;
  }
}

.item-text {
  /*min-height: 8rem;*/
  /*padding-bottom: 0.5rem;*/
  text-align: justify;
}

.album {
  /*min-height: 28rem;*/
  padding-bottom: 0.5rem;
  background-color: #f7f7f7;
}

.item-info-title {
  font-size: .65rem;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: right;
}

.item-info-value {
  font-size: .85rem;
  font-weight: 500;
}

.img-container {
  position: relative;
}

.button-light-category {
  position: absolute;
  top: calc(50% - 1.5rem);
  top: -webkit-calc(50% - 1.5rem);
  top: -moz-calc(50% - 1.5rem);
  left: calc(100% - 1.5rem);
  top: -webkit-calc(100% - 1.5rem);
  top: -moz-calc(100% - 1.5rem);
}
