.item {
  /*font-family: 'PT Sans', sans-serif;*/
  max-width: 240px;
  margin: 0 auto;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card-text {
  font-size: .85rem;
}

.card{
  margin-bottom: 2rem;
  border: 0;
}

.album {
  min-height: 26rem; /* Can be removed; just added for demo purposes */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f7f7f7;
}

.item-header {
  /*background: #ccc;*/
  margin: 5px auto;
  text-align: center;
  text-transform: capitalize;
  height: 60px;
}

.item-img {
  /*background: #929292;*/
  margin: 0 auto;
}

.item-img img {
  margin: 5px auto;
}

.item-description {
  height: 200px;
  /*padding: 5px 5px;*/
  /*background: #878787;*/
  margin: 5px auto;
  text-align: justify;
  overflow: hidden;
}

.item-price {
  /*background: #eb2959;*/
  text-align: right;
  max-width: 50%;
  padding: 5px;
  margin: 5px 5px 5px 50%
}

.item-price span {
  font-size: 25px
}
