<!--<div class="item">-->
  <!--<div class="item-headeer">-->
   <!--<p class="h3">{{product.name}}</p>-->
  <!--</div>-->
  <!--<div class="item-img">-->
    <!--<img src="http://placehold.it/240x180" class="img-fluid">-->
  <!--</div>-->
  <!--<div class="item-description">-->
    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
    <!--{{product.itemDescription}}-->
  <!--</div>-->
  <!--<div class="item-price">-->
    <!--<span>{{product.price}} грн</span>-->
  <!--</div>-->
<!--</div>-->


<!--https://placehold.it/240x180-->
<div class="card">
  <img class="card-img-top" src="{{product.mainImgSrc[0]}}" alt="Зображення">
  <div class="card-body">
    <h4 class="card-title">{{product.name}}</h4>
    <p class="card-text">{{product.itemDescription}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!--<div class="item">-->
  <!--<div class="item-image mx-auto">-->
    <!--<img src="http://placehold.it/240x180" class="img-fluid">-->
  <!--</div>-->
  <!--<hr>-->
  <!--<div class="item-title">-->
    <!--<h3>{{product.name}}</h3>-->
    <!--<span class="item-price">{{product.price}} грн</span>-->
  <!--</div>-->
  <!--<div class="item-description">-->
    <!--<p>{{product.itemDescription}}</p>-->
  <!--</div>-->

<!--</div>-->



<!--<div>-->
  <!--<h2>{{product.category0}} / {{product.category1}}</h2>-->
  <!--<h3>{{product.name}}</h3>-->
  <!--<p>{{product.itemNumber}}</p>-->
  <!--&lt;!&ndash;<img src="http://via.placeholder.com/200x300">&ndash;&gt;-->
  <!--<img src={{product.mainImgSrc[0]}} class="img-fluid img-thumbnail">-->
  <!--&lt;!&ndash;<img src="./assets/samples/200x300.png" class="img-responsive img-thumbnail img200x300">&ndash;&gt;-->
  <!--<p>{{product.price}} грн</p>-->
  <!--<p>{{product.itemDescription}}</p>-->
  <!--<p>{{product.showOnMainPage}}</p>-->
  <!--<p>{{product.discount}}</p>-->
<!--</div>-->
