a {
  text-transform: capitalize;
}

@media (min-width: 991px) {
  li {
    border-bottom: 2px lightslategray solid;
  }

  li.active  {
    border-bottom: 2px darkslategrey solid;
  }

  .navbar {
    font-size: 1.2rem;
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.25);
    height: 5rem;
  }
}

@media (max-width: 991px) {
  li.active  {
    font-weight: bold;
  }
}
.navbar-brand {
  font-size: 1.4rem;
}
.navbar {
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.25);
}

