<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">Творча Майстерня</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"  (click)="hide()">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/home']">Головна</a></li>
      <li *ngFor="let catalogItem of localCatalog" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link"
           [routerLink]="['/products/ch', {outlets: {primary: catalogItem.category0.category1?
            'start/'+ catalogItem.category0.name +'/main' : 'category/'+ catalogItem.category0.name +'/noSubCategories',
           productsSubmenu: 'category/'+ catalogItem.category0.name +'/main'}}]">
          <!--<i [ngClass]="catalogItem.category0.icon"></i>-->
          {{catalogItem.category0.name}}</a></li>
    </ul>
    <span  *ngIf="user && user.role !== 'Guest'" class="navbar-text">
      <i class="material-icons">person</i> {{user.role}}, {{user.name}}
    </span>
    <ul class="nav navbar-nav navbar-right" (click)="hide()">



      <li class="nav-item" *ngIf="user && user.role === 'User' || user.role === 'Manager' || user.role === 'Admin'"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>

      <!--<li class="nav-item" *ngIf="user && user.role === 'Manager' ||user.role === 'Admin'"-->
          <!--[routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">-->
        <!--<a class="nav-link" [routerLink]="['/products-management',-->
        <!--{outlets: {primary: 'add-product', productsManagementSubmenu: 'start'}}]">-->
          <!--Products</a></li>-->


      <li class="nav-item" *ngIf="user && user.role === 'Manager' || user.role === 'Admin'"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/admin/ch', 'edit-product']">Admin</a></li>
      <!--, {outlets: {primary: 'z', adminPanelSubmenu: 'z'}}-->

      <li class="nav-item" *ngIf="user && user.role === 'User' || user.role === 'Manager' || user.role === 'Admin'"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a></li>
      <li class="nav-item" *ngIf="user && user.role === 'Guest'"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/login']">Login</a></li>
      <!--<li class="nav-item" *ngIf="user && user.role === 'Admin'" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">-->
        <!--<a class="nav-link" [routerLink]="['/register']">Register</a></li>-->
      <li class="nav-item" *ngIf="user && user.role === 'User' || user.role === 'Manager' ||user.role === 'Admin'">
        <a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a></li>

    </ul>

  </div>
</nav>
