<div class="blog-post-comments">

  <div class="row">
    <div class="col-md-2 col-sm-3">
      <div class="avatar-3-block">
        <img class="img-fluid avatar-3" src="{{comment.avatar}}" alt="avatar">
      </div>
    </div>
    <div class="col-md-10 col-sm-9">
      <div class="small blog-post-comments-meta">
        <strong>{{comment.username}}</strong>
        {{comment.commentedAt | date: 'dd.MM.yyyy hh:mm:ss'}}

        <div class="blog-post-comments-nav d-flex justify-content-center text-muted">

        <a *ngIf="user && user.role === 'Manager' || user.role === 'Admin'"
           class="btn button-round-2" (click)="startPopup('delete-comment', 'Видалити коментар?', comment)">
          <i class="material-icons button-round-icon-2">delete</i></a>
        <a *ngIf="user && user.role === 'Manager' || user.role === 'Admin'"
           class="btn button-round-2" (click)="startPopup('edit-comment', 'Редагувати коментар', comment)">
          <i class="material-icons button-round-icon-2">edit</i></a>

        </div>

      </div>
      <div class="blog-post-comments-content">
        <p class="text-justify">{{comment.comment}}</p>

      </div>
      <!--<div class="col-md-2 col-sm-3">-->

      <!--</div>-->
    </div>

  </div>




</div>
<app-popup (onConfirmPopupEmitter)="onConfirmPopup($event)"></app-popup>
<!--<app-popup [dataForPopup]="dataForPopup" [taskForPopup]="taskForPopup" (onConfirmPopupEmitter)="onConfirmPopup($event)"></app-popup>-->

