<div class="row comment">
  <div class="col-md-2 col-sm-3">
    <div class="avatar-3-block">
      <img class="img-fluid avatar-3" src="{{comment.avatar}}" alt="avatar">
    </div>
  </div>
  <div class="col-md-8 col-sm-6">
    <div class="small comment-meta">
      <strong>{{comment.username}}</strong>
      {{comment.commentedAt | date: 'dd.MM.yyyy hh:mm:ss'}}
    </div>
    <div class="comment-content">
      <p class="text-justify">{{comment.comment}}</p>
    </div>

  </div>
  <div class="col-md-2 col-sm-3">
    <div class="blog-post-nav d-flex justify-content-center text-muted">
      <p>
        <a *ngIf="user && user.role === 'Manager' || user.role === 'Admin'"
           class="btn button-round-2" (click)="startPopup('delete-comment', 'Видалити коментар?', comment)">
          <i class="material-icons button-round-icon-2">delete</i></a>
        <a *ngIf="user && user.role === 'Manager' || user.role === 'Admin'"
           class="btn button-round-2" (click)="startPopup('edit-comment', 'Редагувати коментар', comment)">
          <i class="material-icons button-round-icon-2">edit</i></a>

      </p>
    </div>
  </div>
</div>
<app-popup (onConfirmPopupEmitter)="onConfirmPopup($event)"></app-popup>
<!--<app-popup [dataForPopup]="dataForPopup" [taskForPopup]="taskForPopup" (onConfirmPopupEmitter)="onConfirmPopup($event)"></app-popup>-->

