<!--<nav>-->
  <!--<ul class="pagination pagination-sm justify-content-center">-->
    <!--<li class="page-item">-->
      <!--<a class="page-link" href="#" aria-label="Previous">-->
        <!--<span aria-hidden="true">&laquo;</span>-->
        <!--<span class="sr-only">Previous</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
    <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
    <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
    <!--<li class="page-item">-->
      <!--<a class="page-link" href="#" aria-label="Next">-->
        <!--<span aria-hidden="true">&raquo;</span>-->
        <!--<span class="sr-only">Next</span>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</nav>-->
<!--commentsList {{commentsList}} comments {{comments}}-->
<!--<div class="row comment" *ngFor="let comment of commentsList; let i = index">-->
<div class="row comment">
  <div class="col-md-1 col-sm-2">
    <div class="avatar-3-block">
      <img class="img-fluid avatar-3" src="{{comment.avatar}}" alt="avatar">
    </div>
  </div>
  <div class="col-md-10 col-sm-8">
    <div class="small comment-meta">
      <strong>{{comment.username}}</strong>
      {{comment.commentedAt | date: 'dd.MM.yyyy hh:mm:ss'}}
    </div>
    <div class="comment-content">
      <p class="text-justify">{{comment.comment}}</p>

    </div>
  </div>
  <div class="col-md-1 col-sm-2">
    <div class="blog-post-nav">
      <a *ngIf="user && user.role === 'Manager' || user.role === 'Admin'"
         class="btn button-round-2" (click)="onDelete()">
        <i class="material-icons button-round-icon-2">delete</i></a>
    </div>
  </div>
</div>
