
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="c_jumbotron-heading">Майстерня творчості</h1>
    <p class="text-justify lead text-muted">Улюблені заняття, що не є робочою спцеціальністю і до яких вдаються у вільний час називається хобі.</p>
    <p class="text-justify lead text-muted">А коли таких занять назбирується ціла корзинка (букети з цукерок,
      букети з фруктів та овочів, вишивка, пошиття іграшок, віночки, декор і т.д.),
      то це для мене справжня творча майстерня..</p>
  </div>
</section>
<div class="row">
  <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-6 col-12">
    <app-item [product]="product"></app-item>
  </div>
</div>

