<h2 class="page-header">Блог</h2>
<button class="btn btn-sm btn-danger" (click)="addBlog()">
  Check
</button>

<!--<div class="row show-hide-message">-->
  <!--<div [ngClass]="messageClass">-->
    <!--{{message}}-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col">-->
    <!--<button class="btn btn-primary" *ngIf="!newPost" (click)="newBlogForm()">Новий пост</button>-->
    <!--<button [disabled]="loadingBlogs" class="btn btn-primary" *ngIf="!newPost" (click)="reloadBlogs()">Перезавантажити</button>-->
  <!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">


        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-primary" *ngIf="!newPost"
                  (click)="newBlogForm()">Новий пост</button>
          <button [disabled]="loadingBlogs" class="btn btn-primary" *ngIf="!newPost"
                  (click)="reloadBlogs()">Перезавантажити</button>

        </div>
      </div>
      <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body" *ngIf="!newPost">
        <h4 class="card-title">Blog title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>

      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <button class="btn btn-primary btn-sm">Редагувати</button>
            <button [disabled]="loadingBlogs" class="btn btn-danger btn-sm">Видалити</button>

            <div class="c_dropdown">
              <button class="btn btn-success btn-sm">Лайки</button>
              <div class="c_dropdown-content">
                <p><a href="#">user1</a></p>
                <p><a href="#">user2</a></p>
                <p><a href="#">user3</a></p>
              </div>
            </div>

            <div class="c_dropdown">
              <button class="btn btn-success btn-sm">Нелайки</button>
              <div class="c_dropdown-content">
                <p><a href="#">user1</a></p>
                <p><a href="#">user2</a></p>
                <p><a href="#">user3</a></p>
              </div>
            </div>

          </div>
          <div class="col-md-2 col-sm-6">
            <strong>Автор:</strong> Poster
          </div>
          <div class="col-md-2 col-sm-6">
            <strong>Дата:</strong> 31.12.2017 23:58
          </div>
          <div class="col-md-2 col-sm-6">
            <strong>Лайків</strong> 125488
          </div>
          <div class="col-md-2 col-sm-6">
            <strong>Нелайків</strong> 5
          </div>
        </div>
        <br/>



      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <button class="btn btn-sm btn-danger" (click)="draftComment()">
            Запістити
          </button>
          <br/>
          <!--<form>-->
          <!--<textarea name="comment" id="" cols="30" rows="10" class="form-control">-->
          <!--<button class="btn btn-sm btn-info">Submit</button>-->
          <!--<button class="btn btn-sm btn-info">Cancel</button>-->
          <!--</textarea>-->
          <!--</form>-->
        </li>

      </ul>
    </div>
  </div>

</div>

