<h2 class="page-header">Блог</h2>
<button class="btn btn-sm btn-danger" (click)="addBlog()">
  Check
</button>




<!--<div class="row show-hide-message">-->
  <!--<div [ngClass]="messageClass">-->
    <!--{{message}}-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col">-->
    <!--<button class="btn btn-primary" *ngIf="!newPost" (click)="newBlogForm()">Новий пост</button>-->
    <!--<button [disabled]="loadingBlogs" class="btn btn-primary" *ngIf="!newPost" (click)="reloadBlogs()">Перезавантажити</button>-->
  <!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">


        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-primary" *ngIf="!newPost"
                  (click)="newBlogForm()">Новий пост</button>
          <button [disabled]="loadingBlogs" class="btn btn-primary" *ngIf="!newPost"
                  (click)="reloadBlogs()">Перезавантажити</button>

        </div>
      </div>

      <!--new blog form-->
      <form *ngIf="newPost" [formGroup]="blogForm" (ngSubmit)="onBlogSubmit(); blogForm.reset()">
        <div class="form-group">
          <label for="title">Заголовок</label>
          <input formControlName="title" [formGroup]="blogForm" required
                 class="form-control" id="title" placeholder="Заголовок">
          <div class="alert alert-danger" role="alert"
               *ngIf="(blogForm.controls['title'].errors?.minlength ||
          blogForm.controls['title'].errors?.maxlength) && blogForm.controls['title'].touched">
            Довжина від 4 до 50 символів
          </div>
          <div class="alert alert-danger" role="alert"
               *ngIf="blogForm.controls['title'].errors?.pattern && blogForm.controls['title'].touched">
            Використовуйте тільки цифри і букви
          </div>
          {{blogForm.controls['title'].errors | json}}
        </div>

        <div class="form-group">
          <label for="body">Текст</label>
          <textarea formControlName="body" cols="30" rows="5"
                    [formGroup]="blogForm" required autocomplete="false"
                    class="form-control" id="body" placeholder=""></textarea>
          <div class="alert alert-danger" role="alert"
               *ngIf="(blogForm.controls['body'].errors?.minlength ||
          blogForm.controls['body'].errors?.maxlength) && blogForm.controls['body'].touched">
            Довжина від 4 до 1000 символів
          </div>
        </div>
        <button [disabled]="processing" type="button" class="btn btn-info" (click)="goBack()">Повернутись</button>
        <button type="submit" class="btn btn-primary" [disabled]="!blogForm.valid || processing">Запостити</button>
      </form>
      <!--new blog form-->

      <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body" *ngIf="!newPost">
        <h4 class="card-title">Blog title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>

      <div class="card-footer text-muted" *ngIf="!newPost">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <button class="btn btn-primary btn-sm">Редагувати</button>
            <button [disabled]="loadingBlogs" class="btn btn-danger btn-sm">Видалити</button>

            <div class="c_dropdown">
              <button class="btn btn-success btn-sm">Лайки</button>
              <div class="c_dropdown-content">
                <p><a href="#">user1</a></p>
                <p><a href="#">user2</a></p>
                <p><a href="#">user3</a></p>
              </div>
            </div>

            <div class="c_dropdown">
              <button class="btn btn-success btn-sm">Нелайки</button>
              <div class="c_dropdown-content">
                <p><a href="#">user1</a></p>
                <p><a href="#">user2</a></p>
                <p><a href="#">user3</a></p>
              </div>
            </div>

          </div>
          <div class="col-md-2 col-sm-6">
            <strong>Автор:</strong> Poster
          </div>
          <div class="col-md-2 col-sm-6">
            <strong>Дата:</strong> 31.12.2017 23:58
          </div>
          <div class="col-md-2 col-sm-6">
            <strong>Лайків</strong> 125488
          </div>
          <div class="col-md-2 col-sm-6">
            <strong>Нелайків</strong> 5
          </div>
        </div>
        <br/>



      </div>

      <ul class="list-group" *ngIf="!newPost">
        <li class="list-group-item">
          <button class="btn btn-sm btn-danger" (click)="draftComment()">
            Запістити
          </button>
          <br/>
          <!--<form>-->
          <!--<textarea name="comment" id="" cols="30" rows="10" class="form-control">-->
          <!--<button class="btn btn-sm btn-info">Submit</button>-->
          <!--<button class="btn btn-sm btn-info">Cancel</button>-->
          <!--</textarea>-->
          <!--</form>-->
        </li>

      </ul>
    </div>
  </div>

</div>

