<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
               role="tab" aria-controls="signin" aria-selected="true">Увійти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup"
               role="tab" aria-controls="signup" aria-selected="false">Зареєструватись</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
            <h4 class="card-title">Вхід</h4>
            <p class="card-text"> </p>
            <form (ngSubmit)="onSigninSubmit(signinForm); signinForm.reset()" #signinForm="ngForm">
              <div class="form-group">
                <label for="usernameSignin">Ім'я користувача</label>
                <input type="text" ngModel required
                       name="usernameSignin" class="form-control" id="usernameSignin">

              </div>
              <div class="form-group">
                <label for="passwordSignin">Пароль</label>
                <input type="password" ngModel required
                       name="passwordSignin" class="form-control" id="passwordSignin">
              </div>
              <button class="btn btn-primary" [disabled]="!signinForm.form.valid">Увійти</button>
            </form>
          </div>








          <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
            <h4 class="card-title">Реєстрація</h4>
            <p class="card-text"> </p>

            <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
              <div class="form-group">
                <label for="usernameSignup">І'мя користувача</label>
                <input formControlName="usernameSignup" [formGroup]="signupForm" required
                       class="form-control" id="usernameSignup">
                <div class="alert alert-danger" role="alert"
                     *ngIf="!signupForm.controls['usernameSignup'].valid && signupForm.controls['usernameSignup'].touched">
                  Довжина від 4 до 10 символів
                </div>
              </div>
              <div class="form-group">
                <label for="emailSignup">Email</label>
                <input formControlName="emailSignup" [formGroup]="signupForm" required
                       class="form-control" id="emailSignup">
                <div class="alert alert-danger" role="alert"
                     *ngIf="!signupForm.controls['emailSignup'].valid && signupForm.controls['emailSignup'].touched">
                  Введіть правільний email
                </div>
              </div>
              <div class="form-group">
                <label for="passwordSignup">Пароль</label>
                <input type="password" formControlName="passwordSignup" [formGroup]="signupForm" required
                       class="form-control" id="passwordSignup">
                <div class="alert alert-danger" role="alert"
                     *ngIf="!signupForm.controls['passwordSignup'].valid && signupForm.controls['passwordSignup'].touched">
                  Довжина від 4 до 10 символів
                </div>
              </div>
              <div class="form-group">
                <label for="passwordSignupConfirm">Повторіть пароль</label>
                <input type="password" formControlName="passwordSignupConfirm" [formGroup]="signupForm" required
                       class="form-control" id="passwordSignupConfirm">
                <div class="alert alert-danger" role="alert"
                     *ngIf="!signupForm.controls['passwordSignupConfirm'].valid && signupForm.controls['passwordSignupConfirm'].touched">
                  Повторіть пароль, довжина від 4 до 10 символів
                </div>
                <div class="alert alert-danger" role="alert"
                     *ngIf="signupForm.controls['passwordSignupConfirm'].touched && signupForm.hasError('mismatch') && (signupForm.controls['passwordSignupConfirm'].valid && signupForm.controls['passwordSignupConfirm'].touched)">
                  Пароль не збігається
                </div>
              </div>
              <div class="form-group">
                <label for="nameSignup">І'мя</label>
                <input formControlName="nameSignup" [formGroup]="signupForm" required
                       class="form-control" id="nameSignup">
                <div class="alert alert-danger" role="alert"
                     *ngIf="!signupForm.controls['nameSignup'].valid && signupForm.controls['nameSignup'].touched">
                  Довжина від 2 до 20 символів
                </div>
              </div>
              <div class="form-group">
                <label for="surnameSignup">Прізвище</label>
                <input formControlName="surnameSignup" [formGroup]="signupForm" required
                       class="form-control" id="surnameSignup">
                <div class="alert alert-danger" role="alert"
                     *ngIf="!signupForm.controls['surnameSignup'].valid && signupForm.controls['surnameSignup'].touched">
                  Довжина від 2 до 20 символів
                </div>
              </div>
              <button class="btn btn-primary" [disabled]="!signupForm.valid">Зареэструватись</button>
            </form>


            <!--<form (ngSubmit)="onSignupSubmit(signupForm); signupForm.reset()" #signupForm="ngForm">-->
              <!--<div class="form-group">-->
                <!--<label for="usernameSignup">Ім'я користувача</label>-->
                <!--<input type="text" ngModel required-->
                       <!--name="usernameSignup" class="form-control" id="usernameSignup">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label for="emailSignup">e-mail</label>-->
                <!--<input type="text" ngModel required-->
                       <!--name="emailSignup" class="form-control" id="emailSignup">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label for="passwordSignup">Пароль</label>-->
                <!--<input type="password" ngModel required-->
                       <!--name="passwordSignup" class="form-control" id="passwordSignup">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label for="passwordSignupConfirm">Повторіть пароль</label>-->
                <!--<input type="password" ngModel required-->
                <!--name="passwordSignupConfirm" class="form-control" id="passwordSignupConfirm">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label for="nameSignup">Ім'я</label>-->
                <!--<input type="text" ngModel required-->
                       <!--name="nameSignup" class="form-control" id="nameSignup">-->
              <!--</div>-->
              <!--<div class="form-group">-->
                <!--<label for="surnameSignup">Прізвище</label>-->
                <!--<input type="text" ngModel required-->
                       <!--name="surnameSignup" class="form-control" id="surnameSignup">-->
              <!--</div>-->
              <!--<button class="btn btn-primary" [disabled]="!signupForm.form.valid">Зареєструватись</button>-->
            <!--</form>-->
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Творча майстерня
      </div>
    </div>
  </div>
</div>
