<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Творча майстерня
      </div>
      <div class="card-body">
        <h4 class="card-title">Вхід</h4>
        <p class="card-text"> </p>
          <form (ngSubmit)="onLoginSubmit(loginForm); loginForm.reset()" #loginForm="ngForm">

            <div class="form-group">
              <label for="username">Ім'я користувача</label>
              <input type="text" ngModel required
              name="username" class="form-control" id="username">
            </div>

            <div class="form-group">
              <label for="password">Пароль</label>
              <input type="password" ngModel required
              name="password" class="form-control" id="password">
            </div>
            <button class="btn btn-primary" [disabled]="!loginForm.form.valid">Увійти</button>
          </form>
      </div>
      <!--<div class="card-footer text-muted">-->
        <!--Творча майстерня-->
      <!--</div>-->
    </div>
  </div>
</div>
