<main>
  <div class="row">
    <div class="col">
      <div class="blog-post">
        <h1 class="blog-post-title">{{blog.title}}</h1>
        <p class="lead blog-post-meta">Опубліковано: <strong>{{blog.createdAt | date: 'dd.MM.yyyy HH:mm'}}</strong></p>
        <div class="row">
          <div class="col-md-6">
            <img src="https://placehold.it/640x360" class="img-fluid blog-post-main-img" alt="main image">
          </div>
          <div class="col-md-6">
            <p>{{blog.body}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</main>


