<!--<div class="c_blog-header">-->
  <!--<h2 class="text-muted text-center">{{blog.title}}</h2>-->
  <!--<p class="text-right">{{blog.createdAt | date: 'dd.MM.yyyy'}}</p>-->
<!--</div>-->


<!--<div class="row">-->
  <!--<div class="col">-->
    <!--<img src="https://placehold.it/320x180" class="img-fluid" alt="main image">-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col">-->
    <!--<p>zx/cbml/cbm,s.f/v.l\gh fghklsmfgh s fgh s fgh sfg h df gh df gh  f ghfdghd fh dsgh</p>-->

  <!--</div>-->
<!--</div>-->

<div class="test-block">Block</div>
<div class="test-block">Block</div>
<div class="test-block">Block</div>

<p class="test-p">sdnfklands adgadfgsdf</p>
<p class="test-p">sdnfklands adgadfgsdf</p>
<p class="test-p">sdnfklands adgadfgsdf</p>
