@import '~styles/styles';

//app-blog .row:nth-child(odd) {
//  background-color: red;
//}
//
//app-blog .row:nth-child(even) {
//  background-color: blue;
//}


.blog-post {
  margin-bottom: 4rem;
}
.blog-post_title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post_meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post_main-img {
  max-width: 48rem;
  margin: 1rem auto;
}

.blog-post_main-side {
  max-width: 48rem;
  height: 14rem;
  margin: 1rem auto;
  //padding-right: 1rem;
  overflow: hidden;
  padding: 2rem 0;

}
.blog-post_text {
  //margin: 1rem auto;
  text-align: justify;
}

.blog-post_main-side-text {
  height: 60%;
  h3 {
    @extend .blog-post_text;
    height: 100%;
    margin: 1rem auto;
    display: block;
    overflow: hidden;
  }
}

.blog-post_main-side-info {
  max-height: 30%;
  margin: 1rem auto;
  overflow: hidden;

}

.blog-post_sub-text {
  @extend .blog-post_text;
  padding-right: 2rem;
  padding-left: 2rem;
}


//@include media-breakpoint-up(lg) {
//  .blog-post-text {
//    padding-right: 2rem;
//    padding-left: 2rem;
//  }
//}
