.c_blog-header {
  background-color: #b6c6d6;
  box-sizing: border-box;
}

.test-block {
  display: inline-block;
width: 10rem;
  background-color: #a0afbe;
}

.test-p {
  display: inline-block;
  width: 15rem;
  background-color: #be94a8;
}
