@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

a,
button {
  text-transform: capitalize;
}

.button-light,
.button-action {
  padding: 0;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  box-shadow: .5rem .5rem .5rem rgba(0,0,0,.25);
}

.button-light-icon,
.button-action-icon {
  line-height: 3rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.button-light {
  color: #000;
  background-color: #fff;
  border-color:  #fff;
}

.button-light:hover {
  color: #fff;
  background-color: #15889d;
  border-color: #17a2b8;
}

.button-action {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.button-action:hover {
  color: #000;
  background-color: #dc3545;
  border-color: #dc3545;
}

.page-header {
  padding-bottom: 1rem;
}

.progress {
  /*display: block;*/
  height: .2rem;
  margin: auto;
  /*width: 50%;*/
}


