@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

a,
button {
  text-transform: capitalize;
}

.button-primary {
  position: absolute;
  top: calc(50% - 1.5rem);
  top: -webkit-calc(50% - 1.5rem);
  top: -moz-calc(50% - 1.5rem);
  left: calc(100% - 1.5rem);
  top: -webkit-calc(100% - 1.5rem);
  top: -moz-calc(100% - 1.5rem);
  padding: 0;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  color: #000;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 .6rem 1rem rgba(0,0,0,.25);
}

.button-primary:hover {
  background-color: #15889d;
  color: #fff;
  border-color: #17a2b8;
}

.button-primary-icon {
  line-height: 3rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}