<form [formGroup]="commentForm"
      (ngSubmit)="onCommentSubmit()">
  <div class="form-row comment-form align-items-center">
    <div class="col-md-1 col-sm-2">
      <div class="avatar-2-block align-top blog-post-comments-avatar">
        <img class="img-fluid avatar-2" src="{{user.avatar}}" alt="avatar">
      </div>

    </div>
    <div class="form-group col-md-10 col-sm-8">
      <!--<label for="comment">Коментар</label>-->
      <textarea formControlName="comment" rows="3"
                required autocomplete="false"
                class="form-control no-validate-style" id="comment" [placeholder]="commentPlaceholder">
      </textarea>
      <!--(keydown)="onPressEnter()"-->

      <!--[disabled]="!(user.role === 'User' || user.role === 'Manager' || user.role === 'Admin')"-->

      <div class="invalid-alert"
           *ngIf="commentForm.get('comment').errors?.maxlength &&
           commentForm.get('comment').touched">Довжина до 200 символів
      </div>
    </div>

    <div class="form-group col-md-1 col-sm-2">
      <button class="btn btn button-round-2 btn-sm" [disabled]="!commentForm.valid">
              <!--(click)="captchaRef.execute()">-->
        <i class="material-icons button-round-icon-2 text-muted">local_post_office</i>
      </button>
    </div>

    <!--<re-captcha-->
      <!--#captchaRef="reCaptcha"-->
      <!--(resolved)="resolved($event)"-->
      <!--siteKey="6LdkgUQUAAAAAMk2LvQnL_pSJFIzizbTQeOh1Shs"-->
      <!--size="invisible"-->
    <!--&gt;</re-captcha>-->

    <div class="form-group col-md-12 col-sm-12">
      <re-captcha class="no-validate-style" [formControlName]="'recaptcha'"
                  siteKey="6Lc6LEQUAAAAADwWC0KvVZCX5mJakilrNisfFHwt"></re-captcha>
    </div>

  </div>

</form>

<!--<button class="btn" (click)="onShared()">share</button>-->
