@import '~styles/styles';

.c_footer {
  @include boxShadowInverse(2);
  height: 4rem;
  background-color: $main_color;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar-brand-small {
  font-size: $font-size-sm;
}
