<!--<div class="row">-->
  <!--<div class="col-lg-3 col-md-4 col-6" *ngFor="let product of submenuList">-->
    <!--<div>{{product.description}}</div>-->
    <!--<hr>-->
    <!--<img src={{product.mainImgSrc[0]}} class="img-fluid">-->
    <!--<hr>-->
    <!--<a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"-->
       <!--[routerLink]="['/products', {outlets: {primary: 'category/' + category0 + '/' + product.name,-->
      <!--productsSubmenu:  'category/' + category0 + '/' + product.name}}]">{{product.name}}</a>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div *ngFor="let product of submenuList" class="col-lg-3 col-md-4 col-sm-6 col-12">
    <app-item [product]="product" [parentComponentLink]="[
    '/products/ch', {outlets: {primary: 'category/' + category0 + '/' + product.name,
      productsSubmenu:  'category/' + category0 + '/' + product.name}}
      ]"></app-item>
  </div>
</div>

<!--<div class="row">-->
  <!--<div class="col-lg-3 col-md-4 col-6" *ngFor="let submenuItem of submenuList">-->
    <!--<div class="card">-->
      <!--<div class="album">-->
        <!--<img class="card-img-top" src="{{product.mainImgSrc[0]}}" alt="Зображення">-->
        <!--<div class="card-body">-->
          <!--<h4 class="card-title">{{product.name}}</h4>-->
          <!--<p class="card-text item-text text-muted">{{product.itemDescription}}</p>-->
          <!--&lt;!&ndash;<a href="#" class="btn btn-primary">Go somewhere</a>&ndash;&gt;-->
    <!---->
          <!--<p class="card-text item-info-title text-muted">Артикул-->
            <!--<span class="item-info-value">{{product.itemNumber}}</span>-->
          <!--</p>-->
          <!--<p class="card-text item-info-title text-muted">-->
            <!--Висота x Ширина-->
            <!--<span class="item-info-value">{{product.size.height}}</span>-->
            <!--х-->
            <!--<span class="item-info-value">{{product.size.width}}</span>-->
            <!--см-->
          <!--</p>-->
    <!---->
        <!--</div>-->
      <!--</div>-->
    <!--</div>  -->
  <!--</div>-->
<!--</div>-->
