<!--<section class="jumbotron text-center">-->
  <!--<div class="container">-->
    <!--<h1 class="jumbotron-heading">Album example</h1>-->
    <!--<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>-->

  <div class="button-row text-muted col-12">


    <button  class="btn btn-outline-secondary button-root"
             [routerLink]="['/products', {outlets: {primary: submenuList?
            'start/' + category0 + '/main': 'category/'+ category0 +'/noSubCategories',
              productsSubmenu:  'category/' + category0 + '/main'}}]"
             [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      {{category0}}
    </button>


    <!--<i class="material-icons md-dark">play_arrow</i>-->
    <button class="btn btn-outline-secondary button-secondary" *ngFor="let submenuItem of submenuList"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="['/products', {outlets: {primary: 'category/' + category0 + '/' + submenuItem.name,
            productsSubmenu:  'category/' + category0 + '/' + submenuItem.name}}]">{{submenuItem.name}}</button>


  </div>
  <!--</div>-->
<!--</section>-->
