<nav class="navbar navbar-expand navbar-light navbar-width">
  <a class="navbar-brand" [routerLink]="['/products', {outlets: {primary: submenuList?
            'start/' + category0 + '/main': 'category/'+ category0 +'/noSubCategories',
              productsSubmenu:  'category/' + category0 + '/main'}}]">{{category0}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" >
      <li class="nav-item nav-item-width"  *ngFor="let submenuItem of submenuList"
          [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link"  [routerLink]="['/products', {outlets: {primary: 'category/' + category0 + '/' + submenuItem.name,
            productsSubmenu:  'category/' + category0 + '/' + submenuItem.name}}]">{{submenuItem.name}}</a>
      </li>
    </ul>
  </div>
</nav>
